body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url('../img/flores.gif');
    background-size: cover;
    height: 300px;
}

.content {
    background-color: #fce0db;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: -100px;
    margin-right: 5px;
    object-fit: cover; 
}

.menu {
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: #ff6b6b;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ff4040;
}

.name {
    margin-top: 20px;
    font-size: 24px;
}

.job-title {
    font-size: 18px;
    color: #ff6b6b;
    margin-top: 5px;
}

.footer {
    background-color: white;
    padding-top: 2rem;
    text-align: center;

        flex-shrink: 0; /* Prevent the footer from shrinking */
   
}

.footer a {
    margin: 0 10px;
}

.footer img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.footer img:hover {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.left-column {
    width: 45%;
}

.right-column {
    width: 45%;
}

.name {
    font-size: 24px;
    margin-bottom: 5px;
}

.job-title {
    color: #ff6b6b;
    font-size: 18px;
    margin-bottom: 20px;
}

.section-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.hobbies {
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 20px;
}

.education {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.work {
    margin-bottom: 30px;
}

.job-title {
    color: #ff6b6b;
    font-size: 18px;
    margin-bottom: 5px;
}

.job-details {
    font-size: 16px;
    line-height: 1.6;
}